img {
    width: 150px;
    height: 150px;
}

button {
    font-family: "Roboto";
    font-weight: 500;
    padding-right: 12px;
    padding-left: 12px;
    background-color: #4285F4;
    color: #ffffff;
    font-size: 18px;
    border: none;
    min-height: 40px;
}

button i {
    width: 18px;
    margin-right: 8px;
}