<div *ngIf="auth.user$ | async; then authenticated else guest">
</div>

<ng-template #guest>
    <h1>Login</h1>
    <p>Login to get started...</p>
    
    <button (click)="auth.googleSignin()">
        <i class="pi pi-google"></i> Connect met Google
    </button>

</ng-template>

<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
        <h1>Welkom, {{ user.displayName }}</h1>
        <img  [src]="user.photoURL">
        <p>User ID: {{ user.uid }}</p>
        <button (click)="auth.signOut()">Logout</button>
    </div>
</ng-template>