<div class="navbar">
    <div class="navbar-header">
      <div class="navbar-title">
        <a routerLink="index"><img src="assets/images/RegioMechelenTurnhout.png"></a>
      </div>
    </div>
    <div class="navbar-btn">
      <label for="navbar-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type="checkbox" id="navbar-check">
    <div class="navbar-links">
      <a routerLink="destinations">BESTEMMINGEN</a>
      <a routerLink="involvements">ENGAGEMENTEN</a>
      <a routerLink="profiles">PROFIELEN</a>
      <a routerLink="vacations">VAKANTIES</a>
      <a routerLink="workers">VRIJWILLIGERS</a>
        <div *ngIf="auth.user$ | async; then authenticated else guest">
      </div>
      <ng-template #guest>
        <a routerLink="user-profile">LOGIN</a>
    </ng-template>
    <ng-template #authenticated>
          <a *ngIf="auth.user$ | async as user" routerLink="user-profile">
            <img class="profileImage" [src]="user.photoURL">
            {{ user.displayName | uppercase }}</a>
    </ng-template>
    </div>
  </div>