<h1>Vakanties</h1>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Naam Vakantie</th>
        <th>Naam vakantiecentrum</th>
        <th>Land</th>
        <th>Regio</th>
        <th>Vertrekdatum</th>
        <th>Aankomstdatum</th>
        <th>Verwijderen</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let vacation of data">
        <tr>
          <td>
            {{vacation.vacationID}}
          </td>
          <td>
            {{vacation.name}}
          </td>
          <td>
            {{vacation.destination.name}}
          </td>
          <td>
            {{vacation.destination.country}}
          </td>
          <td>
              {{vacation.destination.region}}
          </td>
          <td>
            {{vacation.startDate | date:mediumDate}}
          </td>
          <td>
            {{vacation.endDate | date:mediumDate}}
          </td>
          <td>
            <button>X</button>
          </td>
        </tr>
  
      </ng-container>
  
    </tbody>
  </table>

  <label for="sort">Sorteren op:</label>

  <select name="sort" id="sort" (change)="onChange($event.target.value)">
    <option value="idFirst">ID eerst</option>
    <option value="idLast">ID laatst</option>
    <option value="nameAZ">Naam A-Z</option>
    <option value="nameZA">Naam Z-A</option>
    <option value="dateFirst">Startdatum eerst</option>
    <option value="dateLast">Startdatum laatst</option>
  </select>

  <label for="paging">Items per pagina:</label>

  <select name="paging" id="paging" (change)="paging($event.target.value)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
  </select>

  <button (click)="pageDown()">
    <
  </button>
  <button (click)="pageUp()">
    >
  </button>

    <label for="search">Zoeken op:</label>

    <select name="search" id="search" (change)="searchField($event.target.value)">
      <option value="name">Naam</option>
      <option value="startdate">Startdatum</option>
      <option value="destinationID">BestemmingsID</option>
    </select>

    <input type="date" *ngIf="dateSelected" id="searchparam">

    <select *ngIf="nameSelected" id="searchparam">
      <option *ngFor="let vacation of vacationNames">{{vacation}}</option>
   </select>

   <input type="number" *ngIf="destinationIDSelected" id="searchparam">

   <button (click)="search()">
     Zoeken
   </button>